NODE_ENV='development'
NT_PORT=3333
NT_CAPTCHA_SECRET=UE3D7vo4bGUcbA7KbpuTLR7Ni48UBSLMwRv60tmxekizx1C4nfsqg
NT_CORS_ALLOWED_ORIGINS="http://localhost:3000,https://nighttune.app"
NT_RATELIMIT_WINDOW_MS=60000
NT_RATELIMIT_MAX=30
NT_RATELIMIT_TRUST_PROXY='loopback,123.123.123.123,::1/128'
NT_IRON_SESSION_SECRET=0fTgxUpBFuPoWyfsHD3zWN2ssaDo1aFAxFX2MmCcZVixF5xmwzME6xGVospvJcPp9gpZn9z8vh0Q6b2QJs
NT_IRON_SESSION_COOKIE_DOMAIN='localhost'
NT_DB_PATH='nighttune.db'
NT_AUTOTUNE_RECOMMENDATIONS_FILE='autotune_recommendations.log'
NT_MAIL_APIKEY_PUBLIC='cd94fb003f8fed80f7fd629364dce694'
NT_MAIL_APIKEY_PRIVATE='3d121bb99d2cb5e611c6a43929e5fecd'
NT_MAIL_SENDER_ADDRESS='noreply@nighttune.app'
NT_MAIL_SENDER_NAME='Nighttune'
NT_LOGGER_LOG_LEVEL='debug'
NT_DTRACE_SERVICE_NAME='nighttune-backend'
NT_DTRACE_URL="https://traces.nighttune.local/v1/traces"
NT_DLOG_URL="https://traces.nighttune.local/v1/logs"