NODE_ENV='development'
NT_PORT=3333
NT_TURNSTILE_SECRET=2x0000000000000000000000000000000AA
NT_CORS_ALLOWED_ORIGINS="http://localhost:3000,https://nighttune.app"
NT_RATELIMIT_WINDOW_MS=60000
NT_RATELIMIT_MAX=30
NT_RATELIMIT_TRUST_PROXY='loopback,123.123.123.123,::1/128'