# Node environment. One of ['development', 'production']. 
# For docker containers, this is preset to 'production' and should not be changed.
# Only uncomment this when not using docker.
#NODE_ENV='development'

# For docker container this env var is baked in the image, but when running on bare metal, 
# uncommenting this is required.
#NT_DB_PATH='nighttune-backend-prod.db'

# The name of the autotune log file. Nighttune parses this file to
# show the autotune results in the front-end or in a mailed report.
NT_AUTOTUNE_RECOMMENDATIONS_FILE='autotune_recommendations.log'

# Allowed origins of frontends calling this backend.
NT_CORS_ALLOWED_ORIGINS="http://localhost:3000,https://nighttune.local"

# Iron session cookie encryption key.
# This must be a random string of at least 32 characters. 
# See README.md for an explanation how to generate one.
NT_IRON_SESSION_SECRET=

# The domain for which the session cookies are sent.
NT_IRON_SESSION_COOKIE_DOMAIN='localhost'

# Log level. One of ['silly', 'debug', 'verbose', 'info', 'warn', 'error']
# defaults to 'info'
NT_LOGGER_LOG_LEVEL='info'

# The port at which the webserver listens. If changed to a non-default value,
# update the Dockerfile and compose.yml to reflect this and (re)build the container.
NT_PORT=3333

# Rate limiting window in milliseconds.
NT_RATELIMIT_WINDOW_MS=60000

# The maximum amount of requests per client within the rate limit window.
NT_RATELIMIT_MAX=30

# Trusted proxies. See <https://expressjs.com/en/5x/api.html#trust.proxy.options.table>
NT_RATELIMIT_TRUST_PROXY='loopback,123.123.123.123,::1/128'

# The settings below are optional.

# Captcha settings.
# If you don't need the captcha service, remove all variables
# starting with 'NT_CAPTCHA_' to disable it.

# captcha server host url
NT_CAPTCHA_SERVER_URL="https://captcha.nighttune.local"

# captcha site key
NT_CAPTCHA_SITEKEY=8b0b547d78

# captcha data encryption key
NT_CAPTCHA_SECRET=UE3D7vo4bGUcbA7KbpuTLR7Ni48UBSLMwRv60tmxekizx1C4nfsqg

# Distributed tracing settings.
# If you don't need distributed tracing, remove all variables
# starting with either 'NT_DTRACE_' or 'NT_DLOG_' to disable it.

# Service name as it will appear in the distributed logs
NT_DTRACE_SERVICE_NAME='nighttune-backend'

# URL to send traces to.
NT_DTRACE_URL="https://traces.nighttune.local/v1/traces"

# URL to send logs to.
NT_DLOG_URL="https://traces.nighttune.local/v1/logs"

# Report mailing service settings.
# If you don't the Nighttune reports mailed to you, remove all variables
# starting with 'NT_MAIL_' to disable it.

# Mail service API public key
NT_MAIL_APIKEY_PUBLIC='cd94fb003f8fed80f7fd629364dce694'

# Mail service API private key
NT_MAIL_APIKEY_PRIVATE='3d121bb99d2cb5e611c6a43929e5fecd'

# Address from which Nighttune reports will be sent.
NT_MAIL_SENDER_ADDRESS='noreply@nighttune.local'

# Friendly name of the Nighttune report sender address.
NT_MAIL_SENDER_NAME='Nighttune'
